@en-japan-air:registry=https://api.bintray.com/npm/en-japan/npm/
//api.bintray.com/npm/en-japan/npm/:_authToken=${BINTRAY_TOKEN}
//api.bintray.com/npm/en-japan/npm/:username=${BINTRAY_USER}
//api.bintray.com/npm/en-japan/npm/:email=${BINTRAY_EMAIL}
//api.bintray.com/npm/en-japan/npm/:always-auth=true
